body {
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
  text-align: center;
}

.word {
  font-size: 2rem;
}

.correct {
  color: limegreen;
}

.wrong {
  color: red;
}

.dot {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
